[Unit]
Description=CFEngine Execution Daemon
After=syslog.target

[Service]
Type=forking
ExecStart=/var/cfengine/bin/cf-execd

[Install]
WantedBy=multi-user.target
