# intermediate / autogen

*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/lt*.m4
missing
stamp-h1
ylwrap
test-driver

# docs

*.aux
*.cp
*.cps
*.dvi
*.fn
*.ky
*.pg
*.toc
*.tp
*.vr
*.log

docs/doxygen
docs/guides/*.html
docs/guides/*.pdf
docs/guides/*.tmp
docs/guides/cf3-solutions.texinfo
docs/manpages/*.8
docs/reference/cf3-Reference.html
docs/reference/cf3-Reference.pdf
docs/reference/cf3-Reference.texinfo
docs/tools/build-solutions-guide
docs/tools/build-solutions-guide.exe
docs/tools/build-stdlib
docs/tools/build-stdlib.exe

# binaries

nova/cf-hub/cf-hub
nova/cf-hub/cf-hub.exe
nova/cf-know/cf-know
nova/cf-know/cf-know.exe
cf-agent/cf-agent
cf-agent/cf-agent.exe
cf-execd/cf-execd
cf-execd/cf-execd.exe
cf-key/cf-key
cf-key/cf-key.exe
cf-monitord/cf-monitord
cf-monitord/cf-monitord.exe
cf-promises/cf-promises
cf-promises/cf-promises.exe
cf-report/cf-report
cf-report/cf-report.exe
cf-runagent/cf-runagent
cf-runagent/cf-runagent.exe
cf-serverd/cf-serverd
cf-serverd/cf-serverd.exe
cf-gendoc/cf-gendoc
cf-gendoc/cf-gendoc.exe
ext/rpmvercmp

# autogen

libpromises/cf3lex.c
libpromises/cf3parse.c
libpromises/cf3parse.h
cf3parse.output
libutils/conf.h
libutils/conf.h.in

# acceptance tests

tests/acceptance/*.log
tests/acceptance/.succeeded
tests/acceptance/workdir
tests/acceptance/mock-package-manager
tests/acceptance/mock-package-manager.exe
tests/acceptance/dnswrapper.so
tests/*/*.xml
tests/*/xml.tmp
tests/*/xml_tmp_*

# unit tests

tests/unit/*_test

# load tests

tests/load/db_load
tests/load/lastseen_load

# examples
examples/cfengine_stdlib.cf

# gcov/lcov

*.gcno
*.gcda
*.trace
cfengine-lcov-base.info
cfengine-lcov.info
coverage-html/

# links

nova
galaxy

# tags

TAGS
cscope.*

# emacs

*~
\#*#
.dir-locals.el

# eclipse

.cproject
.project
.settings

# qt-creator

core.config
core.creator
core.creator.user
core.files
core.includes
*.autosave

# Mac Finder

.DS_Store
