# intermediate / autogen

*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/lt*.m4
missing
stamp-h1
ylwrap

# docs

*.aux
*.cp
*.cps
*.dvi
*.fn
*.ky
*.pg
*.toc
*.tp
*.vr
*.log

docs/doxygen
docs/guides/*.html
docs/guides/*.pdf
docs/guides/*.tmp
docs/guides/cf3-solutions.texinfo
docs/manpages/*.8
docs/reference/cf3-Reference.html
docs/reference/cf3-Reference.pdf
docs/reference/cf3-Reference.texinfo
docs/tools/build-solutions-guide
docs/tools/build-solutions-guide.exe
docs/tools/build-stdlib
docs/tools/build-stdlib.exe

# binaries

src/cf-agent
src/cf-agent.exe
src/cf-execd
src/cf-execd.exe
src/cf-hub
src/cf-hub.exe
src/cf-key
src/cf-key.exe
src/cf-know
src/cf-know.exe
src/cf-monitord
src/cf-monitord.exe
src/cf-promises
src/cf-promises.exe
src/cf-report
src/cf-report.exe
src/cf-runagent
src/cf-runagent.exe
src/cf-serverd
src/cf-serverd.exe
src/cf-gendoc
src/cf-gendoc.exe
ext/rpmvercmp

# autogen

src/cf3lex.c
src/cf3parse.c
src/cf3parse.h
src/cf3parse.output
src/conf.h
src/conf.h.in

# acceptance tests

tests/acceptance/*.log
tests/acceptance/.succeeded
tests/acceptance/workdir
tests/acceptance/mock-package-manager
tests/acceptance/mock-package-manager.exe
tests/acceptance/dnswrapper.so
tests/*/*.xml
tests/*/xml.tmp
tests/*/xml_tmp_*

# unit tests

tests/unit/*_test

# load tests

tests/load/db_load
tests/load/lastseen_load

# examples
examples/cfengine_stdlib.cf

# gcov/lcov

*.gcno
*.gcda
*.trace
cfengine-lcov-base.info
cfengine-lcov.info
coverage-html/

# links

nova
galaxy

# tags

TAGS
cscope.*

# emacs

*~
\#*#
.dir-locals.el

# eclipse

.cproject
.project
.settings

# qt-creator

core.config
core.creator
core.creator.user
core.files
core.includes
*.autosave

# Mac Finder

.DS_Store
