Bishwa Shrestha <bishwa.shrestha@cfengine.com> <a10008@cflu-10008.(none)>
Carlos Manuel Duclos Vergara <carlos.duclos@cfengine.com>
Carlos Manuel Duclos Vergara <carlos.duclos@cfengine.com> <carlosduclosv@yahoo.com>
Carlos Manuel Duclos Vergara <carlos.duclos@cfengine.com> <carlos.duclos@gmail.com>
Michael V. Pelletier <mvpel@yahoo.com>
Diego Zamboni <diego.zamboni@cfengine.com> <diego@zzamboni.org>
Maciej Mrowiec <maciej.mrowiec@cfengine.com>
Michael Clelland <michael.clelland@cfengine.com>
Maciej Patucha <maciej.patucha@cfengine.com>
<maciej.patucha@cfengine.com> <a10019@cflu-10019.(none)>
<maciej.patucha@cfengine.com> <maciejpatucha@cfengine.com>
Mikhail Gusarov <mikhail.gusarov@cfengine.com> <dottedmag@dottedmag.net>
Sigurd Teigen <sigurd.teigen@cfengine.com> <sigurd.teigen@gmail.com>
Geir Nygård <geir.nygard@cfengine.com>
Mark Burgess <mark@cfengine.com>
Bas van der Vlies <basv@sara.nl> <root@test3.irc.sara.nl.irc.sara.nl>
Chris Dituri <csdituri@gmail.com> chris.dituri
Chris Dituri <csdituri@gmail.com> chris dituri
