language: c
os: linux
dist: xenial

addons:
  artifacts:
    paths:
      - artifacts/

# Build on pushes only to given branches
branches:
  only:
    - master
    - 3.10.x
    - 3.12.x
    - 3.15.x

env:
  global:
    - CI_NODE_TOTAL=6
      # Quickest to build, fast performing, debugable builds.
    - CFLAGS="-g1 -O1"
      # upload log files, tarballs etc artifacts from the build.
    - ARTIFACTS_BUCKET=cfengine-travis-artifacts
      # 2 cores according to: https://docs.travis-ci.com/user/ci-environment/
    - MAKEFLAGS=-j3

# Parallel jobs listed here; fastest jobs should come first to give
# feedback ASAP. For more info read this:
# https://docs.travis-ci.com/user/multi-os/
jobs:
  fast_finish: true # Build will succeed once all linux jobs succeed
  include:
    - env: JOB_TYPE=compile_and_unit_test_asan
    - env: JOB_TYPE=valgrind_health_check
    - env: JOB_TYPE=compile_and_unit_test COVERAGE=no
      compiler: clang
    - env: JOB_TYPE=acceptance_tests_common
      # The unsafe acceptance tests don't work with SIMFS which is the default
      # filesystem in Travis; so change OS to Trusty, which uses ext4.
    - env: JOB_TYPE=acceptance_tests_unsafe_serial_network_etc
    - env: JOB_TYPE=serverd_multi_versions COVERAGE=no

before_install:
  - chmod ug+x ./travis-scripts/*
  - ./travis-scripts/before_install.sh

script: ./travis-scripts/script.sh

after_success: ./travis-scripts/after_success.sh

before_deploy: ./travis-scripts/before_deploy.sh

after_script: ./travis-scripts/after_script.sh
