      ¤¤¤        {{#classes.env_production}}THIS A PROD HOST{{/classes.env_prodcution}}{{#classes.env_unknown}}Not a prod or stage host {{/classes.env_unknown}}
      ¤¤¤
      ¤¤¤	 Welcome into {{{vars.sys.fqhost}}}

    ¤ ¤¤¤ ¤      This system is controlled by
    ¤ ¤¤¤ ¤      CFEngine Enterprise {{{vars.sys.cf_version}}}
    ¤ ¤¤¤ ¤	 And is a {{{vars.motd.cf_role}}}
    ¤     ¤
      ¤¤¤
      ¤ ¤	 Administrative contacts: {{#vars.motd.admin_contact}} {{.}} {{/vars.motd.admin_contact}}
      ¤ ¤	 Host IP {{{vars.sys.ipv4}}}
      ¤ ¤	 There are {{{vars.motd.amount_updates}}} package updates available.
