{{#classes.env_unknown}} WARNING Environment Unknown{{/classes.env_unknown}}
      ¤¤¤
      ¤¤¤
      ¤¤¤	 Welcome into {{{vars.sys.fqhost}}}

    ¤ ¤¤¤ ¤      This system is controlled by
    ¤ ¤¤¤ ¤      CFEngine {{{vars.sys.cf_version}}}
    ¤ ¤¤¤ ¤	 And is a {{{vars.motd.cf_role}}}
    ¤     ¤
      ¤¤¤
      ¤ ¤	 
      ¤ ¤	 Host IP {{{vars.sys.ipv4}}}
      ¤ ¤	 {{{vars.motd.amount_updates}}} package updates available.
                 {{#vars.motd.admin_contact}}Support Contact:
                   - {{{.}}}
{{/vars.motd.admin_contact}}
