name: Continuous Integration

on:
  # run this workflow on pull_request activity
  # this includes opening and pushing more commits
  pull_request:
    branches: [ master, 3.21.x, 3.18.x ]

  # run this workflow on push/merge activity
  # pull_request activity won't detect changes
  # in the upstream branch before we merge
  push:
    branches: [ master, 3.21.x, 3.18.x ]


jobs:
  unit_tests:
    uses: ./.github/workflows/unit_tests.yml
  shellcheck_tests:
    uses: ./.github/workflows/shellcheck.yml
  asan_unit_tests:
    needs: unit_tests
    uses: ./.github/workflows/asan_unit_tests.yml
  acceptance_tests:
    needs: unit_tests
    uses: ./.github/workflows/acceptance_tests.yml
  macos_unit_tests:
    needs: unit_tests
    uses: ./.github/workflows/macos_unit_tests.yml
  cifuzz_tests:
    needs: unit_tests
    uses: ./.github/workflows/cifuzz.yml
  valgrind_tests:
    needs: unit_tests
    uses: ./.github/workflows/valgrind.yml
  static_check:
    needs: unit_tests
    uses: ./.github/workflows/job-static-check.yml
