name: Static Check

on:
  workflow_call

jobs:
  static_check:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout Core
      uses: actions/checkout@v3
      with:
        submodules: recursive
        path: core

    - name: Get Togethers
      uses: cfengine/together-javascript-action@main
      id: together
      with:
        myToken: ${{ secrets.GITHUB_TOKEN }}

    - name: Checkout Buildscripts
      uses: actions/checkout@v3
      with:
        repository: cfengine/buildscripts
        submodules: recursive
        path: buildscripts
        ref: ${{steps.together.outputs.buildscripts || github.base_ref || github.ref}}

    - name: Checkout Masterfiles
      uses: actions/checkout@v3
      with:
        repository: cfengine/masterfiles
        submodules: recursive
        path: masterfiles
        ref: ${{steps.together.outputs.masterfiles || github.base_ref || github.ref}}

    - name: Prepare Environment
      run: |
        sudo apt-get update && \
        sudo apt-get install -y dpkg-dev debhelper g++ libncurses6 pkg-config \
          build-essential libpam0g-dev fakeroot gcc make autoconf buildah \
          liblmdb-dev libacl1-dev libcurl4-openssl-dev libyaml-dev libxml2-dev \
          libssl-dev libpcre2-dev

    - name: Run Autogen
      run: NO_CONFIGURE=1 PROJECT=community ./buildscripts/build-scripts/autogen

    - name: Run The Test
      working-directory: ./core
      run: ./tests/static-check/run.sh
