name: Valgrind Tests

on:
  workflow_call

jobs:
  valgrind_tests:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: core
    steps:
    - uses: actions/checkout@v3
      with:
        path: core
        submodules: recursive
    - name: Get Togethers
      uses: cfengine/together-javascript-action@main
      id: together
      with:
        myToken: ${{ secrets.GITHUB_TOKEN }}
    - name: Clone masterfiles (master)
      uses: actions/checkout@v3
      with:
        repository: cfengine/masterfiles
        ref: ${{steps.together.outputs.masterfiles || github.base_ref || github.ref}}
        path: masterfiles
        submodules: recursive
    - name: Install dependencies
      run: |
        ./ci/dependencies.sh
        sudo apt install -y valgrind
    - name: Run autotools / configure
      run: ./autogen.sh --enable-debug --with-systemd-service
    - name: Compile and link (make)
      run: make -j8 CFLAGS="-Werror -Wall"
    - name: Install CFEngine
      run: sudo make install
    - name: Generate masterfiles
      run: ./autogen.sh
      working-directory: masterfiles
    - name: Install masterfiles
      run: sudo make install
      working-directory: masterfiles
    - name: Reload systemd
      run: sudo systemctl daemon-reload

    - name: See if cf-agent runs at all
      run: /var/cfengine/bin/cf-agent --version

    - name: Run valgrind.sh
      run: sudo bash .github/workflows/valgrind.sh

